<!DOCTYPE html>
<html lang="es-mx">
<head id="headId">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="titleSystem">@ViewData["Title"] - Entregas confiables</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link href="~/lib/theme/css/mn-blue.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.bootstrap-v4.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/holdon/HoldOn.min.css" />

    @RenderSection("Css", required: false)

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/lib/kendo-ui/js/jszip.min.js"></script>
    <script src="~/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/lib/theme/js/script.min.js"></script>
    <script src="~/lib/theme/js/sidebar.compact.script.js"></script>
    <script src="~/lib/holdon/HoldOn.min.js"></script>
    <script src="~/lib/test/jquery.base64.js"></script>


    <script src="~/lib/kendo-ui/js/cultures/kendo.culture.es-MX.min.js"></script>
    <script src="~/lib/kendo-ui/js/messages/kendo.messages.es-MX.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcL41BeW_76GtQI049vPOtUgLW7pQx5oc" async defer></script>

    <script type="text/javascript">
        if (kendo.ui.ComboBox) {
            kendo.ui.ComboBox.prototype.options.messages =
                $.extend(true, kendo.ui.ComboBox.prototype.options.messages, {
                    "clear": "Borrar",
                    "noData": "No se encontraron datos"
                });
        }
        kendo.culture("es-MX");
    </script>
    <style>
        * {
            text-transform: none !important;
        }

        .nav-title {
            background: none !important;
            cursor: auto !important;
        }

        .main-header .notification-dropdown {
            max-height: 500px;
        }

        .btnCheck:hover {
            box-shadow: 5px 10px 18px #888888;
        }

        .btnCheck {
            border-radius: 50%;
        }

            .btnCheck:active {
                transform: translateY(4px);
            }

        #sectionNotices ::-webkit-scrollbar {
            width: 8px;
        }

        #sectionNotices ::-webkit-scrollbar-thumb {
            background: #dee2e6;
            border-radius: 10px;
        }
    </style>
</head>
<body class="text-left">
    <div class="app-admin-wrap layout-sidebar-compact sidebar-gradient-black-blue sidenav-open clearfix">
        <div class="side-content-wrap">
            <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
                <ul class="navigation-left" style="background-image: url('/images/Barralateralmenu.png');background-size:cover;background-repeat:no-repeat;background-position:center;">

                    @if (User.IsInRole(ApplicationRoles.Administrator))
                    {
                        <li id="cats" class="nav-item" data-item="catalogs">
                            <a class="nav-item-hold" href="#">
                                <i class="nav-icon i-Library"></i>
                                <span class="nav-text">Catálogos</span>
                            </a>
                            <div class="triangle"></div>
                        </li>
                    }

                </ul>
            </div>
            <div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
                <i class="sidebar-close i-Close" (click)="toggelSidebar()"></i>
                <header>
                    <div class="logo mb-0">
                        <img id="mnLogo" src="~/images/logo-triplei.png" style="width: 160px; height: 60px;" alt="">
                    </div>
                </header>
                <!-- Submenu Dashboards -->
                
                <div id="cats1" class="submenu-area" data-parent="catalogs">
                    <header style="background-color: #FF4D00; padding-top: 10px; padding-bottom: 10px;">
                        <h6 class="" style="color: white;"><i class="nav-icon i-Library" style="margin-right:10px;"></i> Catálogos</h6>
                    </header>
                    <ul class="childNav">
                        
                            <li class="nav-item">
                                <a id="Song" href="~/Song/Index">
                                    <i class="nav-icon fas fa-music"></i>
                                    <span class="item-name">Canciones</span>
                                </a>
                            </li>                           
                        
                        
                    </ul>
                </div>
                
                <div id="conf1" class="submenu-area" data-parent="configuration">
                    <header style="background-color: #FF4D00; padding-top: 10px; padding-bottom: 10px;">
                        <h6 class="" style="color: white;"><i class="nav-icon i-Gear" style="margin-right:10px;"></i> Configuración</h6>
                    </header>
                    <ul class="childNav">
                        <li class="nav-item">
                            <a id="User" href="~/user/index">
                                <i class="nav-icon fas fa-users-cog"></i>
                                <span class="item-name">Usuarios</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--=============== Left side End ================-->
        <div class="main-content-wrap d-flex flex-column">
            <div id="mainHeader" class="main-header" style="background-color:white;">
                <div class="logo">
                    <img src="~/images/logo-triplei.png" alt="">
                </div>
                <div id="menuToggle" class="row col-12">
                    @*Prueba diseño*@

                    <div id="menuToggleInside" class="menu-toggle">
                        <div id="line1"></div>
                        <div id="line2"></div>
                        <div id="line3"></div>
                    </div>
                    <div id="entregas" style="display:none">
                        <p id="pentregas" style="background-color: #809DC7;position: relative;margin-bottom: 0px;top: 3px;color: white;font-size:20px;"> <b>ENTREGAS CONFIABLES</b></p>
                    </div>
                    <div class="header-part-right" style="height: 37px;margin-left: auto;margin-right: 0">
                        @User.Identity.Name
                        <!-- Full screen toggle -->
                        <i class="i-Full-Screen header-icon d-none d-sm-inline-block" data-fullscreen></i>                        
                        <!-- User avatar dropdown -->
                        <div class="dropdown">
                            <div class="user col align-self-end">
                                <i class="i-Lock-User mr-1" style="font-size:23px;" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <div class="dropdown-header" style="font-size: 0.813rem">
                                        <i class="i-Lock-User mr-1"></i> @User.Identity.Name
                                    </div>
                                    <a class="dropdown-item" href="/Identity/Account/Manage/ChangePassword" title="Cambiar contraseña">Cambiar contraseña</a>
                                    
                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    </form>
                                    <a class="dropdown-item" href="#" onclick="document.getElementById('logoutForm').submit();">Salir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--</div>-->
            </div>
            <!-- ============ Body content start ============= -->
            <div class="main-content" style="margin-top: 80px;">
                @*Prueba diseño quitar margin-top*@
                <div class="container-fluid" style="background-color:white">
                    @*Prueba diseño quitar background-color*@

                    <div class="row">
                        <div id="titleSection" class="col-md-5">
                            <div class="breadcrumb">
                                <h1 class="mr-2" style="margin-left: 20px;"><i class="nav-icon fas @ViewData["Icon"]"></i><img id="imgTitle" /> @ViewData["Title"]</h1>                               
                            </div>
                        </div>
                        <div id="headerSection" class="col-md-7" style="padding-right: 25px;">
                            @RenderSection("PageHeader", required: false)
                        </div>
                    </div>
                </div>

                <div class="separator-breadcrumb border-top"></div>
                <div id="renderBody">
                    @RenderBody()
                </div>
                <!-- end of main-content -->
                <!-- Footer Start -->
                <!-- fotter end -->
            </div>
        </div>
    </div>

    <!-- ============ Search UI Start ============= -->
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Musica.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>

        $(function () {
            const title = window.location.pathname;
            const activeStyle = "background:#eee";
            const activeClassName = "active";

            $("#cats").addClass(activeClassName)
            $("#cats1").attr("style", "display:block")

            if (title.indexOf("/Song") >= 0) {
                $("#Song").attr("style", activeStyle);
            } 

        });

        //Important for hover submenu items behavior
        document.addEventListener("DOMContentLoaded", function () {
            if (window.innerWidth > 200) {

                document.querySelectorAll('.childNav .nav-item').forEach(function (everyitem) {

                    everyitem.addEventListener('mouseover', function (e) {

                        let el_link = this.querySelector('a[data-bs-toggle]');

                        if (el_link != null) {
                            let nextEl = el_link.nextElementSibling;
                            el_link.classList.add('show');
                            nextEl.classList.add('show');
                        }

                    });
                    everyitem.addEventListener('mouseleave', function (e) {
                        let el_link = this.querySelector('a[data-bs-toggle]');

                        if (el_link != null) {
                            let nextEl = el_link.nextElementSibling;
                            el_link.classList.remove('show');
                            nextEl.classList.remove('show');
                        }


                    })
                });

            }
        });

    </script>

</body>
</html>

